spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_db
    username: inventory_user
    password: inventory_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

  data:
    redis:
      host: localhost
      port: 6379

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8083
          jwk-set-uri: http://localhost:8083/.well-known/jwks.json

# External Service URLs for dev environment
services:
  location-service:
    url: http://localhost:8085

logging:
  level:
    com.stock.inventoryservice: DEBUG
    org.springframework.security: DEBUG
